@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 20 66% 99%;
  --foreground: 20 51% 4%;
  --dark: #222e3c;
  --lightGradient: linear-gradient(
    90deg,
    rgba(59, 125, 221, 0.1),
    rgba(59, 125, 221, 0.088) 50%,
    transparent
  );
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #222e3c;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #eeeaea;
  border-radius: 5px;
}

.table_container::-webkit-scrollbar {
  width: auto !important;
  height: 5px !important;
}

.table_container::-webkit-scrollbar-track {
  background: white !important;
}

body {
  @apply box-border bg-background text-foreground;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
